<script src="./js/xlsx.core.min.js"></script>
<script src="./js/FileSaver.js"></script>
<script src="./node_modules/tableexport/dist/js/tableexport.js"></script>
<link
  rel="stylesheet"
  href="/node_modules/tableexport/dist/css/tableexport.css"
/>

<div class="container-fluid user-list">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">PET 내역</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        PET 목록<button
          type="button"
          class="btn btn-default btn-success float-right xlsxBtn"
        >
          전체 엑셀 다운로드
        </button>
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th nowrap>회원 아이디</th>
              <th nowrap>이름</th>
              <th nowrap>추천인</th>
              <th nowrap>처리전 PET</th>
              <th nowrap>PET</th>
              <th nowrap>처리후 PET</th>
              <th nowrap>추가/차감</th>
              <th nowrap>구분</th>
              <th nowrap>처리일</th>
            </tr>
          </thead>
          <tbody id="boardContents"></tbody>
        </table>
        <table
          class="table table-bordered"
          id="xlsxData"
          style="display: none;"
          width="0"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th nowrap>회원 아이디</th>
              <th nowrap>이름</th>
              <th nowrap>추천인</th>
              <th nowrap>처리전 PET</th>
              <th nowrap>PET</th>
              <th nowrap>처리후 PET</th>
              <th nowrap>추가/차감</th>
              <th nowrap>구분</th>
              <th nowrap>처리일</th>
            </tr>
          </thead>
          <tbody id="xlsxContents"></tbody>
        </table>
        <div class="text-center my-4 my-md-3" id="pageContainer"></div>
      </div>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">검색 영역</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <tbody>
            <tr>
              <th nowrap class="text-center" style="vertical-align: middle;">
                추가/차감
              </th>
              <td nowrap>
                <select class="form-control" id="jobGroupSelect">
                  <option value="-" selected>전체</option>
                  <option value="0">추가</option>
                  <option value="1">차감</option>
                </select>
              </td>
            </tr>
            <tr>
              <th nowrap class="text-center" style="vertical-align: middle;">
                검색 조건
              </th>
              <td nowrap>
                <select class="form-control" id="keywordSelect">
                  <option value="-" selected>전체</option>
                  <option value="1">아이디</option>
                  <option value="2">이름</option>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="2" nowrap>
                <div class="input-group">
                  <input
                    type="text"
                    id="searchVal"
                    class="form-control"
                    placeholder="아이디 or 이름"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      id="SearchBtn"
                      class="btn btn-primary"
                    >
                      search
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  var page = "<%= page %>";
  var html = "";
  var pageHtml = "";
  var selectVal = "-"; // 직군분류 선택 값
  var searchVal = ""; // 검색란 값
  var searchSelectVal = ""; // 검색조건 값
  $(function() {
    $(".left-menu")
      .siblings()
      .removeClass("active");
    $(".left-menu")
      .eq(3)
      .addClass("active");
    getUserList(selectVal, page, searchSelectVal, searchVal);
  });
  // 직군분류 selct box
  $("#jobGroupSelect").change(function(e) {
    if (selectVal != e.target.value) {
      page = 1;
    }
    searchSelectVal = $("#keywordSelect option:selected").val();
    searchVal = $("#searchVal").val();
    selectVal = e.target.value;

    $("#boardContents").text("");
    $("#pageContainer").text("");
    getUserList(selectVal, page, searchSelectVal, searchVal);
  });

  $("#SearchBtn").click(function() {
    selectVal = $("#jobGroupSelect option:selected").val();
    searchSelectVal = $("#keywordSelect option:selected").val();
    searchVal = $.trim($("#searchVal").val());
    jobGroupSelectTrigger(page, selectVal, searchVal, searchSelectVal);
  });

  function jobGroupSelectTrigger(
    index,
    selectValParam,
    searchValParam,
    searchSelectValParam
  ) {
    page = index;
    selectVal = selectValParam;
    searchVal = searchValParam;
    searchSelectVal = searchSelectValParam;
    $("#jobGroupSelect")
      .val(selectVal)
      .trigger("change");
    searchVal = "";
  }

  function memberInfo(member_no) {
    location.href = "/userInfo?member_no = " + member_no;
  }

  function getUserList(selectVal, page, searchSelectVal, searchVal) {
    $.get(
      "PET_list",
      {
        selectVal: selectVal,
        page: page,
        searchSelectVal: searchSelectVal,
        searchVal: searchVal
      },
      function(cb) {
        if (cb.result) {
          var html = "";
          var pageHtml = "";
          if (cb.contents.length > 0) {
            cb.contents.forEach(function(item, idx) {
              html += "<tr>";
              html +=
                '<td nowrap><a href="/userInfo?member_no=' +
                item.member_no +
                '">' +
                item.member_id +
                "</td>" +
                "<td nowrap>" +
                item.member_name +
                "[" +
                item.member_no +
                "]</td>" +
                "<td nowrap>" +
                (item.recommender_id == null ? "없음" : item.recommender_id) +
                "</th>" +
                "<td nowrap>" +
                comma(item.before_PET) +
                "</td>" +
                "<td nowrap>" +
                comma(item.PET) +
                "</td>" +
                "<td nowrap>" +
                comma(item.after_PET) +
                "</td>" +
                "<td nowrap>" +
                (item.add_sub == 0 ? "추가" : "차감") +
                "</td>" +
                "<td nowrap>" +
                (item.type == 0
                  ? "본사지급"
                  : item.type == 1
                  ? "더블 PET"
                  : "관리자 지급") +
                "</td>" +
                "<td nowrap>" +
                item.reg_date +
                "</td>" +
                "</tr>";
            });
          } else {
            html += "<tr>";
            html +=
              "<td colspan=9 class='text-center'>PET 내역이 없습니다. </td></tr>";
          }

          if (cb.page > cb.pageSize) {
            pageHtml +=
              '<span onclick="jobGroupSelectTrigger(' +
              1 +
              ", '" +
              selectVal +
              "', '" +
              searchVal +
              '\', \'-\')" title="first page" class="text-kakaoBrown"><<</span>' +
              '<span onclick="jobGroupSelectTrigger(' +
              (cb.startPage - 1) +
              ", '" +
              selectVal +
              "', '" +
              searchVal +
              '\', \'-\')" title="previous page" class="text-kakaoBrown">&nbsp;< </span>';
          } else {
            pageHtml +=
              '<span style="color:gray; display:none;"><<</span>' +
              '<span style="color:gray;';

            if (page > 1) {
              page = page * 1;
              var minusPage = page - 1;
              pageHtml +=
                'cursor: pointer; " onclick="jobGroupSelectTrigger(' +
                minusPage +
                ", '" +
                selectVal +
                "', '" +
                searchVal +
                "', '-')";
            }
            pageHtml += '"> &nbsp;< </span>';
          }

          for (var i = cb.startPage; i <= cb.endPage; i++) {
            if (i == cb.page) {
              pageHtml +=
                '<span class="btn btn-sm disabled font-weight-bold"' +
                'role="button" style="font-size:1.1em;">' +
                i +
                "</span>";
            } else {
              pageHtml +=
                '<span onclick="jobGroupSelectTrigger(' +
                i +
                ", '" +
                selectVal +
                "', '" +
                searchVal +
                '\', \'-\')" class="btn btn-sm" role="button" style="font-size:1.1em;">' +
                i +
                "</span>";
            }
          }

          if (cb.endPage < cb.totalPage) {
            pageHtml +=
              '<span onclick="jobGroupSelectTrigger(' +
              (cb.endPage + 1) +
              ", '" +
              selectVal +
              "', '" +
              searchVal +
              '\', \'-\')" title="next page" class="text-kakaoBrown">> </span>' +
              '<span onclick="jobGroupSelectTrigger(' +
              cb.totalPage +
              ", '" +
              selectVal +
              "', '" +
              searchVal +
              '\', \'-\')" title="last page" class="text-kakaoBrown">&nbsp;>></span>';
          } else {
            pageHtml += '<span style="color:gray; ';

            if (page != cb.endPage) {
              page = page * 1;
              var plusPage = page + 1;
              pageHtml +=
                'cursor: pointer; " onclick="jobGroupSelectTrigger(' +
                plusPage +
                ", '" +
                selectVal +
                "', '" +
                searchVal +
                "', '-')";
            }

            pageHtml +=
              '"> > </span>' +
              '<span style="color:gray; display:none;"> >> </span>';
          }

          $("#boardContents").append(html);
          $("#pageContainer").append(pageHtml);
        } else {
        }
      }
    );
  }
  $(".xlsxBtn").click(function(e) {
    //엑셀 다운로드 파일생성 라우터로 이동
    $.get("PET_listXlsx", function(cb) {
      if (cb.result) {
        var html = "";
        var pageHtml = "";
        $("#xlsxContents").html("");
        if (cb.contents.length > 0) {
          cb.contents.forEach(function(item, idx) {
            html += "<tr>";
            html +=
              "<td nowrap>" +
              phoneNum(item.member_id) +
              "</td>" +
              "<td nowrap>" +
              item.member_name +
              "[" +
              item.member_no +
              "]</td>" +
              "<td nowrap>" +
              (item.recommender_id == null
                ? "없음"
                : phoneNum(item.recommender_id)) +
              "</th>" +
              "<td nowrap>" +
              comma(item.before_PET) +
              " </td>" +
              "<td nowrap>" +
              comma(item.PET) +
              " </td>" +
              "<td nowrap>" +
              comma(item.after_PET) +
              " </td>" +
              "<td nowrap>" +
              (item.add_sub == 0 ? "추가" : "차감") +
              "</td>" +
              "<td nowrap>" +
              (item.type == 0
                ? "본사지급"
                : item.type == 1
                ? "더블 PET"
                : "관리자 지급") +
              "</td>" +
              "<td nowrap>" +
              item.reg_date +
              "</td>" +
              "</tr>";
          });
        }
        $("#xlsxContents").append(html);
        TableExport.prototype.bootstrapConfig = ["btn", "btn-default"];
        instance = new TableExport($("#xlsxData"), {
          headers: true,
          footers: true,
          formats: ["xlsx"],
          filename: moment().format("YYYY-MM-DD") + " PET 내역",
          bootstrap: true,
          exportButtons: false,
          position: "top",
          ignoreRows: null,
          ignoreCols: null,
          trimWhitespace: true
        });
        exportData = instance.getExportData();
        instance.export2file(
          exportData.xlsxData.xlsx.data,
          exportData.xlsxData.xlsx.mimeType,
          exportData.xlsxData.xlsx.filename,
          exportData.xlsxData.xlsx.fileExtension
        );
      } else {
        customBootBox("danger", "알림", "엑셀 다운로드 실패", "");
      }
    });
  });
</script>
